/*

COLORS

*

TITLE			#fefefe
NORMAL     		#bab9bb

LIGHT GREY		#232323
DARK GREY		#0e0e0e

RED       		#f44336
BLUE     		#47a8f5
DARK BLUE		#4750f5
YELLOW			#ffaa2c
GREEN			#6bbd6e


/*

VARIABLES

*/

:root {
	--background-light: #232323;
	--background-dark: #0e0e0e;
	--color-gray: #bab9bb;
	
	--title-color: white;
	--title-size: 70px;
	--title-font: RobotoMono, sans-serif;
	--title-margin-bottom: 0.5em;
	
	--side-nav-width: 200px;
	
	--size-auto: auto;
	--size-tiny: 20%;
	--size-lite: 35%;
	--size-medium: 50%;
	--size-large: 75%;
	--size-full: 100%;
}


/****************************

	MAIN

*****************************/

* {
	background: 0 0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}


body {
	background-color: var(--background-light);
	font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: var(--color-gray);
    -webkit-font-smoothing: antialiased;
	font-family: open sans, sans-serif;
	scroll-behavior: smooth;
}

.has-left-menu {
	margin-left: var(--side-nav-width);
}

.has-right-menu {
	margin-right: var(--side-nav-width);
}

.hidden {
	visibility: hidden;
}

/****************************

	LAYOUT

*****************************/

.row > .column {
	float: left;
	height: 100%;
	width: 100%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.two-column > .column {
	width: 50%;
}

.three-column > .column {
	width: 33.33%;
}

.row.first-is-thin > .column:first-child {
	width: 37.5%;
	padding-right: 2.5%;
}

.row.first-is-thin > .column:last-child {
	width: 57.5%;
	padding-left: 2.5%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-left:after,
.float-right:after {
	content: "";
	display: table;
	clear: both;
}

.inline-block {
	display: inline-block;
}

#login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 333px;
	max-width: 333px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/****************************

	CONTENT

*****************************/

.section {
	margin: 0 20%;
}

.section.tiny {
	margin: 0 30%;
}

.section.lite {
	margin: 0 15%;
}

.section.medium {
	margin: 0 15%;
}

.section.large {
	margin: 0 5%;
}

.section.full {
	margin: 0;
}

.section p {
	margin: 0.5em 0;
}

.section ol,
.section ul {
	list-style-position: inside;
	margin: 0.5em 0.75em;
}

.section li {
	display: list-item;
}

.section a {
    color: var(--color-gray);
	text-decoration: underline;
}

.section b {
	color: var(--title-color);
}

span.auto {
	width: var(--size-auto);
}

span.tiny {
	width: var(--size-tiny);
}

span.lite {
	width: var(--size-lite);
}

span.medium {
	width: var(--size-medium);
}

span.large {
	width: var(--size-large);
}

span.full {
	width: var(--size-full);
}

/****************************

	TITLES

*****************************/

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
	color: var(--title-color);
	font-family: var(--title-font);
	font-weight: 700;
    text-transform: uppercase;
	line-height: 1em;
    letter-spacing: -.02em;
	-webkit-font-smoothing: antialiased;
}

.section h1 {
	font-size: var(--title-size);
    line-height: 1em;
    letter-spacing: -.02em;
	margin: calc(var(--title-margin-bottom) + 1.25em) 0 var(--title-margin-bottom) 0;
}

.section h2 {
	font-size: calc(var(--title-size) - 15px);
	margin: calc(var(--title-margin-bottom) + 1em) 0 var(--title-margin-bottom) 0;
}

.section h3 {
	font-size: calc(var(--title-size) - 25px);
	margin: calc(var(--title-margin-bottom) + 0.75em) 0 var(--title-margin-bottom) 0;
}

.section h4 {
	font-size: calc(var(--title-size) - 35px);
	margin: calc(var(--title-margin-bottom) + 0.5em) 0 var(--title-margin-bottom) 0;
}

.section h5 {
	font-size: calc(var(--title-size) - 45px);
	margin: calc(var(--title-margin-bottom) + 0.25em) 0 var(--title-margin-bottom) 0;
}

.section h6 {
	font-size: calc(var(--title-size) - 55px);
	margin: var(--title-margin-bottom) 0 var(--title-margin-bottom) 0;
}

/****************************

	BUTTONS & LINKS LIKE BUTTONS

*****************************/

button,
.button {
	padding: 1em;
	display: inline-block;
	border: 1px solid var(--color-gray);
	color: var(--color-gray);
	box-sizing: border-box;
	background-color: var(--background-dark);
}

button:hover,
.button:hover {
	cursor: pointer;
	border-color: var(--title-color);
	color: var(--title-color);
}

button.auto,
.button.auto {
	width: var(--size-auto);
}

button.tiny,
.button.tiny {
	width: var(--size-tiny);
}

button.lite,
.button.lite {
	width: var(--size-lite);
}

button.medium,
.button.medium {
	width: var(--size-medium);
}

button.large,
.button.large {
	width: var(--size-large);
}

button.full,
.button.full {
	width: var(--size-full);
}

/****************************

	HEADER

*****************************/

#header {
	background-color: var(--background-dark);
	color: var(--color-gray);
	border-bottom: 1px solid var(--color-gray);
}

/****************************

	FOOTER

*****************************/

#footer {
	background-color: var(--background-dark);
	color: var(--color-gray);
	border-top: 1px solid var(--color-gray);
}

/****************************

	SCROLLBAR

*****************************/

.side-menu::-webkit-scrollbar{
    height: 3px;
	width: 3px;
}

::-webkit-scrollbar{
    height: 15px;
	width: 15px;
}

::-webkit-scrollbar-track{
    background: var(--background-dark);
}
 
::-webkit-scrollbar-thumb{
    background: var(--color-gray); 
}

::-webkit-scrollbar-thumb:hover{
    background: white; 
}

/****************************

	TABLE

*****************************/

table, th, td {
	border: 1px solid var(--color-gray);
	border-collapse: collapse;
	text-align: left;
	color: var(--color-gray);
	padding: 0.5em;
}

th {
	background-color: var(--background-dark);
}

tr:hover {
	background-color: var(--background-dark);
}

table a .icon.asc::after {
	content: "\2191";
	float: right;
}

table a .icon.desc::after {
	content: "\2193";
	float: right;
}

table.auto {
	width: auto;
}

table.tiny {
	width: 30%;
}

table.medium {
	width: 50%;
}

table.large {
	width: 85%;
}

table.full {
	width: 100%
}

/****************************

	SPOILER

*****************************/

.spoiler-container .spoiler {
	visibility: hidden;
}

.spoiler-container:hover .spoiler {
	visibility: visible;
}

/****************************

	FORM

*****************************/

input[type=text],
input[type=password],
select {
	padding: 0.75em;
	margin: 0.5em 0;
	display: inline-block;
	border: 1px solid var(--color-gray);
	color: var(--color-gray);
	box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus{
	border: 1px solid var(--title-color);
	color: var(--title-color);
}

input[type=checkbox] {
	margin-right: 0.5em;
	border: 1px solid var(--title-color);
}

input[type=checkbox]:hover {
	cursor: pointer;
}

input.tiny {
	width: 30%;
}

input.medium {
	width: 50%;
}

input.large {
	width: 85%;
}

input.full {
	width: 100%
}

select.tiny {
	width: 30%;
}

select.medium {
	width: 50%;
}

select.large {
	width: 85%;
}

select.full {
	width: 100%
}

/****************************

	SELECTION

*****************************/

::selection {
	color: white;
	background: var(--background-dark);
}

/****************************

	SIDE MENU

*****************************/

.side-menu {
	height: 100%;
	width: var(--side-nav-width);
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	background-color: var(--background-dark);
}

.side-menu:first-child {
	padding-top: 20px;
}

.side-menu .menu-element {
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	font-size: 17px;
	color: var(--color-gray);
	display: block;
	border: none;
	background: none;
	width: 100%;
	cursor: pointer;
	outline: none;
}

.side-menu .menu-element:hover {
	color: white;
}

.side-menu .sub-menu {
	display: none;
	border-left: 1px solid var(--color-gray);
	margin: 0px 0px 20px 20px;
}

.side-menu .sub-menu.opened {
	display: block;
}

.side-menu button.opened,
.side-menu a.active {
	color: white;
	text-decoration: underline;
}

.side-menu button i.icon::after {
	content: "\002B";
}

.side-menu button.opened i.icon::after {
	content: "\2212";
}

.side-menu.left {
	left: 0;
}

.side-menu.right {
	right: 0;
}

.side-menu.left {
	border-right: 1px solid var(--color-gray);
}

.side-menu.right {
	border-left: 1px solid var(--color-gray);
}

.side-menu.left .menu-element {
	text-align: left;
}

.side-menu.right .menu-element {
	text-align: right;
}

.side-menu.left .sub-menu {
	border-left: 1px solid var(--color-gray);
	margin: 0px 0px 20px 20px;
}

.side-menu.right .sub-menu {
	border-right: 1px solid var(--color-gray);
	margin: 0px 20px 20px 0px;
}

.side-menu.left button i.icon::after {
	float: right;
}

.side-menu.right button i.icon::after {
	float: left;
}

/****************************

	THEMES (ADMIN)

*****************************/

.themes-container.flex {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 3em;
	align-item: stretch;
	justify-content: 
}

.theme {
	background-color: var(--background-dark);
	padding: 1.5em;
	flex-grow: 1;
}

.theme:last-child {
	flex-grow: 0;
}

.theme .theme-preview {
	width: 300px;
	height: 300px;
}

.theme.activated {
	border: 1px solid var(--color-gray);
}

/****************************

	PLUGINS (ADMIN)

*****************************/

.plugins-container.flex {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 3em;
	align-item: stretch;
	justify-content: 
}

.plugin {
	background-color: var(--background-dark);
	padding: 1.5em;
	flex-grow: 1;
}

.plugin:last-child {
	flex-grow: 0;
}

.plugin .plugin-preview {
	width: 300px;
	height: 300px;
}

.plugin.enabled {
	border: 1px solid var(--color-gray);
}

/****************************

	MENUS PREVIEW (ADMIN)

*****************************/

.menu-preview {
	border: 1px solid var(--color-gray);
	margin-bottom: 1em;
}

.menu-preview h2 {
	border-bottom: 1px solid var(--color-gray);
	margin: 0;
	padding: 0.5em;
}

.menu-preview .menu-main-container {
	padding: 1em;
}

.menu-preview .link,
.menu-preview .drop-zone {
	text-decoration: none;
	padding: 1em;
	/* background-color: var(--background-dark); */
}

.menu-preview a:hover {
	cursor: pointer;
	color: var(--title-color);
	border-color: var(--title-color);
}

.menu-preview ul,
.menu-preview li {
	padding: 1em;
	list-style: none;
	border-left: 1px solid var(--color-gray);
}

.for-menus {
	list-style: none;
	user-select: none;
	background-color: var(--background-dark);
	border: 1px solid var(--color-gray);
	padding: 2em;
	margin-bottom: 2em;
}

/****************************

	ACCORDIONS

*****************************/

.accordions-group:first-child {
	border-top: 1px solid var(--color-gray);
}

.accordion {
	font-size: 15px;
	background-color: var(--background-dark);
	color: var(--color-gray);
	cursor: pointer;
	margin: 0;
	padding: 1em;
	border: 1px solid var(--color-gray);
	text-align: left;
	outline: none;
	user-select: none;
}

.accordion.auto {
	width: var(--size-auto);
}

.accordion.tiny {
	width: var(--size-tiny);
}

.accordion.lite {
	width: var(--size-lite);
}

.accordion.medium {
	width: var(--size-medium);
}

.accordion.large {
	width: var(--size-large);
}

.accordion.full {
	width: var(--size-full);
}

.accordion.active,
.accordion:hover {
	color: var(--title-color);
	border-color: var(--title-color);
}

.accordion:after {
	content: '\002B';
	color: var(--color-gray);
	float: right;
}

.accordion:hover:after {
	color: var(--title-color);
}

.accordion.active:after {
	content: "\2212";
	color: var(--title-color);
}

.accordion-panel {
	display: none;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	border: 1px solid var(--title-color);
	padding: 1em;
}

/****************************

	UPLOADS

*****************************/

#uploads-form {
	
}