/*

COLORS

*

TITLE			#fefefe
NORMAL     		#bab9bb

LIGHT GREY		#232323
DARK GREY		#0e0e0e

RED       		#f44336
BLUE     		#47a8f5
DARK BLUE		#4750f5
YELLOW			#ffaa2c
GREEN			#6bbd6e


/*

VARIABLES

*/

:root {
	--background-light: #232323;
	--background-dark: #0e0e0e;
	--color-gray: #bab9bb;
	
	--title-color: white;
	--title-size: 70px;
	--title-font: RobotoMono, sans-serif;
	--title-margin-bottom: 0.5em;
	
	--side-nav-width: 200px;
	
	--size-auto: auto;
	--size-tiny: 20%;
	--size-lite: 35%;
	--size-medium: 50%;
	--size-large: 75%;
	--size-full: 100%;
}


/****************************

	MAIN

*****************************/

* {
	background: 0 0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}


/****************************

	LAYOUT

*****************************/

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: auto;
}