:root {
	--side-nav-width: 200px;
}

.side-menu {
	height: 100%;
	width: var(--side-nav-width);
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}

.admin_content {
	margin-left: var(--side-nav-width);
}