:root {
    --margin_base: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    margin: 0 calc(2 * var(--margin_base));
}

/*
 * Table
 */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

/**
 * Spinner 0
 * https://loading.io/css/
 */
.spinner0 {
    color: black;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.spinner0 div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.spinner0 div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: black;
}

.spinner0 div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.spinner0 div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.spinner0 div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.spinner0 div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.spinner0 div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.spinner0 div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.spinner0 div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.spinner0 div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.spinner0 div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.spinner0 div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.spinner0 div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.spinner0 div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
 * Collapse
 */
.collapse {
    display: none;
}

.collapse.open {
    display: block;
}

/*
 * Modal
 */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
    display: block;
}

.modal > .content {
    background-color: white;
    margin: 5%;
    padding: 2.5%;
    border: 1px solid black;
}

/*
 * Registered galleries
 */
#registeredGalleriesPresentation .gallery {
    border: 1px solid black;
    width: 100%;
}

/*
 * Grid
 */
.grid {
    column-gap: calc(var(--margin_base) / 2);
}

.grid > * {
    width: 100%;
    margin-bottom: calc(var(--margin_base) / 2);
    position: relative;
    break-inside: avoid-column;
}

.grid > *:last-child {
    margin-bottom: 0;
}

.grid img {
    width: 100%;
}

#linkedImagesGrid,
#imagesGrid {
    min-height: 100px;
}

/*
 * Rows & Columns
 */
.row {
    display: flex;
}

.row .column {
    margin-right: var(--margin_base);
}

.row .column:last-child {
    margin-right: 0;
}

.column {
    flex: calc(50% - var(--margin_base));
}

/*
 * Galleries
 */
#registeredGalleriesGrid .gallery {
    position: relative;
}

#registeredGalleriesGrid .gallery .galleryName {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    background-color: black;
    padding: 5px;
}

/*
 * Gallery
 */
.gallery.modal {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

.gallery.modal .slide {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

.gallery.modal .slide.open {
    display: block;
}

.gallery.modal .thumbnails {
    width: 100%;
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: center;
    bottom: calc(2 * var(--margin_base));
    opacity: 0;
}

.gallery.modal .thumbnails .thumbnail {
    display: none;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    max-height: 150px;
    width: auto;
    margin: 0 var(--margin_base);
}

.gallery.modal .thumbnails .thumbnail.open {
    display: block;
}

.gallery.modal .prev:hover ~ .thumbnails,
.gallery.modal .next:hover + .thumbnails,
.gallery.modal .thumbnails:hover {
    opacity: 1;
}

/*
 * Videos
 */
#registeredVideosGrid .video {
    position: relative;
}

#registeredVideosGrid .video .videoName {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    background-color: black;
    padding: 5px;
}

/*
 * Video
 */
.layoutVideo {
    display: grid;
    grid-template-columns: auto 33%;
    grid-template-rows: auto 33%;
    gap: var(--margin_base) var(--margin_base);
    grid-template-areas:
    'video sideVideo'
    'underVideo sideVideo';
}

.layoutVideo .video {
    grid-area: video;
}

.layoutVideo .underVideo {
    grid-area: underVideo;
}

.layoutVideo .sideVideo {
    grid-area: sideVideo;
}

.layoutVideo .video > video {
    max-width: 360px;
}

/*
 * Uploaded Files
 */
#uploadedFiles img,
#uploadedFiles video {
    max-width: 360px;
}