/*

	core
	2021/04/28

*/


:root {
	--side-nav-width: 200px;
	--admin_content-margin: 1%;
}


/*

	side menu
	2021/04/28

*/

.side-menu {
	height: 100%;
	width: var(--side-nav-width);
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

.side-menu:first-child {
	padding-top: 20px;
}

.side-menu .menu-element {
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	font-size: 17px;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.side-menu .menu-element:hover {
	text-decoration: underline;
}

.side-menu .sub-menu {
	display: none;
}

.side-menu .sub-menu.opened {
	display: block;
	margin: 0 0 20px 20px;
}

.side-menu .sub-menu.opened.header {
	margin: 0 0 20px 0;
}

.side-menu button.opened,
.side-menu a.active {
	font-weight: bold;
}

.side-menu button .icon::after {
	content: '\002B';
	float: right;
}

.side-menu button.opened .icon::after {
	content: "\2212";
}

/*

	layout
	2021/04/28

*/

.admin_content {
	margin: var(--admin_content-margin) var(--admin_content-margin) var(--admin_content-margin) calc(var(--side-nav-width) +  var(--admin_content-margin));
}

.row {
	display: flex;
}

.row .column {
	flex: calc(50% - var(--admin_content-margin));
	margin-right: var(--admin_content-margin);
}

.row .column:last-child {
	margin-right: 0;
}
